# Generic Stuff
APP_NAME="ROBLOX"
APP_DESC="User-generated MMO gaming site for kids, teens, and adults. Players architect their own worlds. Builders create free online games that simulate the real world. Create and play amazing 3D games. An online gaming cloud and distributed physics engine."
APP_ENV=local
APP_DEBUG=true
APP_DOMAIN="sweep1.watrbx.local"

# Mail Stuff (unused as of right now)
MAIL_USER=""
MAIL_PASS=""

# Storage (R2/AWS)
R2_BUCKET=""
R2_ACCOUNT_ID=""
R2_KEY_ID=""
R2_SECRET=""

# VPN Detection stuff
IPHUB_APIKEY=""

# Database
DB_HOST="localhost"
DB_NAME="watrbx-local"
DB_USER="watrbx-local"
DB_PASS=""
