.env
composer.lock
storage/PrivateNut.pem
vendor
PrivateNut.pem
public_key.pem
public/SignedV1.apk
public/SignedV2.apk
public/SignedV3.apk
public/Unsigned.apk
public/watrbx.apk
public/watrbxbootstrapper.exe
public/.well-known/acme-challenge
storage/testkey.pem
public/errorlog.log
public/RobloxPlayerLauncher.exe
storage/asset_cache/*
storage/errorlog.log
public/.user.ini
nohup.out
upload.php
public/watrbx-app.ipa
public/watrbx-app2.ipa
.vscode/settings.json
public/env
